asgiref==3.11.1
attrs==25.4.0
certifi==2026.2.25
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
fiona==1.10.1
geopandas==1.1.2
Markdown==3.10.2
numpy==2.4.2
packaging==26.0
pandas==3.0.1
psycopg2-binary==2.9.11
PyJWT==2.11.0
pyogrio==0.12.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
rest-framework-simplejwt==0.0.2
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
